IMAGEKIT_PUBLIC_KEY=public_sCDM9FTiy75o1DngYY0yn2Gam0E=
IMAGEKIT_PRIVATE_KEY=private_ZsWA1rqlhjpnQBBJ8Frz2LcOkVE=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/1gxcnr5bz
APP_URL="https://app.fajracademy.io"
MONGODB_CONNECTION_STRING=mongodb://smalrabbi:smalrabbi@cluster0-shard-00-00.dtofz.mongodb.net:27017,cluster0-shard-00-01.dtofz.mongodb.net:27017,cluster0-shard-00-02.dtofz.mongodb.net:27017/fajracademyerp?ssl=true&replicaSet=atlas-knk5lv-shard-0&authSource=admin
JWT_SECRET="your_jwt_secret_key"
PUSHER_KEY=2017058
PUSHER_CLUSTER=ap1
PUSHER_SECRET=d68c30ec2fc6ae5fa065
NEXT_PUBLIC_PUSHER_KEY=2017058
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
SUPER_PASSWORD=810880

# Google Calendar OAuth2 credentials for real Google Meet link generation
GOOGLE_OAUTH_CLIENT_ID=530066824277-j5lnrbed6sljqvj1da6n2160hbve7e7s.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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
GOOGLE_OAUTH_REFRESH_TOKEN=1//0gTv9foiX-xmHCgYIARAAGBASNwF-L9IrjLE0gk3Mv99N6_hG6cHIMdkze9SuMNJOz9z6vyQQ8FfGHNmck6VYRMGW9q7Li-CAsNg

# Google Service Account (kept for reference, cannot create Meet links)
GOOGLE_CLIENT_EMAIL=meet-generator@fajr-academy-erp-production.iam.gserviceaccount.com

# Telegram Bot configurations for CEO requests
TELEGRAM_BOT_TOKEN=8749198080:AAHP1-dkbtMuoQRKmoNySiXgUId-f-EaNU0
TELEGRAM_CEO_CHAT_ID=-5541391616
GMAIL_APP_PASSWORD=dazm fpjy wwjg zxll
GMAIL_USER=rabbi.fajracademy@gmail.com


# Zoom Video SDK Credentials
ZOOM_SDK_KEY=k5P2v5ZS8w76w8hrTuK337XgtwzCDnR5DN52
ZOOM_SDK_SECRET=1vOvoAUCoAmouLyNIqiwdV8tkfq2SIzbvgFK



PUSHER_APP_ID="2189314"
PUSHER_APP_KEY="e791e5b37bc638e96496"
PUSHER_APP_SECRET="58c5145e6021198fa9d6"

